<div class="callbackContainer">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Імя</th>
            <th scope="col">Телефон</th>
            <th scope="col">Email</th>
            <th scope="col">Повідомлення</th>
            <th scope="col">Статус опрацювання</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of callbackService.arrCallbackList; let i = index" >
            <th scope="row">{{i+1}}</th>
            <td>{{user.date}}</td>
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.text}}</td>
            <td class="status" [style.backgroundColor]="user.checkStatus==true?'#D2FFD2':'none'">
              <input type="checkbox"   [checked]='user.checkStatus' (click)="callbackService.statusCheckedCallback(user)" >
              <!-- <span *ngIf="user.checkStatus" >Опрацьовано</span> -->
              <button *ngIf="user.checkStatus" type="button" class="btn btn-danger" (click)="callbackService.deleteOrder(user.id)" >Видалити запис</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>