<div class="header">
    <div class="phone">
        <p>тел/факс: +38(032) 241 70 01</p>
        <p>моб.: +38(067) 236 11 19</p>
    </div>
    <div class="logo" routerLink="main"></div>
    <div class="worksHour">
        <p>Працюємо: пн-птн 9:00 - 18:00</p>
    </div>

</div>
<div class="menu">
    <ul class="nav nav1">
        <li class="nav-item menuBtn">
            <a class="nav-link" routerLink="main" routerLinkActive='active'>Головна</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="about-us" routerLinkActive='active'>Про нас</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="products" routerLinkActive='active'>Продукція</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="brends" routerLinkActive='active'>Бренди</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contacts" routerLinkActive='active'>Контакти</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Адмінка</a>
        </li> -->
    </ul>
</div>