<footer>
    <div class="containerFooter">
        <div class="catalogFooter">
            <ul>
                <h3>КАТАЛОГ ТОВАРІВ</h3>
                <li routerLink="cotels">Системи опалення</li>
                <li routerLink="hotPumps">Тепловы насоси</li>
                <li routerLink="ventilation">Вентиляцыйны системи</li>
                <li routerLink="frozen">Холодильне обладнання</li>
            </ul>
        </div>
        <div class="contactsFooter">
            <h3>ЗВ'ЯЖІТЬСЯ З НАМИ</h3>
            <ul>
                <li>м.Львів</li>
                <li>вул.Володимира Великого 18 офіс 825</li>
                <i class="fas fa-phone-volume fa-lg"></i>
                <li>тел./факс +38(032) 241 70 01</li>
                <i class="fas fa-mobile-alt fa-lg"></i>
                <li>моб.тел +38(032) 241 70 01</li>
                <i class="fas fa-envelope-open-text fa-lg"></i>
                <a href="mailto:info@bofi.com.ua"><li>info@bofi.com.ua</li></a>
            </ul>
        </div>
        <div class="socialNetwork">
            <h3>Соціальні мережі</h3>
            <ul>
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook fa-lg"></i>
                <li >Facebook</li></a>
                <a href="" target="_blank"><i class="fab fa-google-plus-g fa-lg"></i>
                <li>Google +</li></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square fa-lg"></i>
                <li>Twitter</li></a>
            </ul>
        </div>
    </div>
    <div class="copiryte">Copyright liketechno.com.ua © 2019 by Kostiv Roman </div>
</footer>