<footer>
    <div class="containerFooter">
        <div class="catalogFooter">
            <ul>
                <h3>КАТАЛОГ ТОВАРІВ</h3>
                <li routerLink="cotels">Системи опалення</li>
                <li routerLink="hotPumps">Тепловы насоси</li>
                <li routerLink="ventilation">Вентиляцыйны системи</li>
                <li routerLink="frozen">Холодильне обладнання</li>
            </ul>
        </div>
        <div class="contactsFooter">
            <h3>ЗВ'ЯЖІТЬСЯ З НАМИ</h3>
            <ul>
                <li>м.Львів</li>
                <li>вул.Володимира Великого 18 офіс 825</li>
                <i class="fas fa-phone-volume fa-lg"></i>
                <li>тел./факс +38(032) 241 70 01</li>
                <i class="fas fa-mobile-alt fa-lg"></i>
                <li>моб.тел +38(032) 241 70 01</li>
                <i class="fas fa-envelope-open-text fa-lg"></i>
                <li>info@bofi.com.ua</li>
            </ul>
        </div>
        <div class="socialNetwork"></div>
    </div>
    <div class="copiryte">Copyright liketechno.com.ua © 2019 by Kostiv Roman </div>
</footer>