footer{
    width: 100vw;
    height: 250px;
    background-color:rgba(37,57,130,0.2) ;
}
.containerFooter{
    width: 1300px;
    margin: 0px auto;
    height: 220px;
}
.copiryte{
    width: 100%;
    background-color: black;
    color: white;
    height: 30px;
    text-align: center;
    position: relative;
    bottom: 0px;
    z-index: -10;
}