<div class="aboutUsContainer">
    <div class="foto">
        <img src="https://firebasestorage.googleapis.com/v0/b/bofi-ba143.appspot.com/o/fotoroman.jpg?alt=media&token=012d6a3e-2c91-4dba-942b-7c2f7bea96a0" alt="">
    </div>
    <div class="text">
        <p>~ BOFI ~</p>
        <p>тут треба буде написати щось про фірму<br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni necessitatibus at sint numquam hic officiis harum architecto voluptatem! Temporibus eligendi assumenda inventore sit iusto ipsam fuga veritatis saepe dolor cum?
        </p>
    </div>
</div>
