.containerContacts{
    width: 1300px;
    margin: 30px auto;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: space-between;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}
.ContactInfo{
    width: 40%;
    /* border: 1px solid black; */
}
p{
    /* line-height: 0.5; */
    font-size: 20px;
    margin-left: 15px;
    padding-top: 15px;
}
.address, .phone, .email{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding-left: 10px;
}
.infoBlaBla{
    width: 40%;
    /* border: 1px solid black; */
}
.map{
    width: 70%;
    height: 500px;
    /* border: 1px solid black; */
}
.callBackForm{
    width: 29%;
    /* border: 1px solid black; */
}
.callBackForm form{
    width: 80%;
    margin: 0px auto;
}
.callBackBtn{
    background-color: #253982;
    margin: 20px auto;
    width: 70%;
}
