<div class="dataPlace">
    <input type="text" placeholder="Введіть назву бренду...">
    <textarea name="" id="" cols="30" rows="0"></textarea>

    <!-- upload image -->
    <div class="form-group row uploadBrendLogo">
        <div class="card-body">
            <h5 class="card-title">Виберіть логотип бренду:</h5>
            <input type="file" (change)="upload($event)" accept=".png,.jpg" value="Виберіть файл"/>
            <br><br>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                    [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
                File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
            </div>
            <br>
        </div>
    </div>
    <!-- ------- -->

</div>