<div class="dataPlace">
    <form action="" #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">
        <!-- <div class="form-group">
            <input type="hidden" name="id" #id1="ngModel" [(ngModel)]="id">
        </div> -->
        <input type="text" placeholder="Введіть назву бренду..." [(ngModel)]="brend" name="brend">
        <input type="text" placeholder="Введіть посилання на сайт..." [(ngModel)]="link" name="link">
        <input type="text" placeholder="Заголовок до опису бренду..." [(ngModel)]="title" name="title">
        <textarea id="" cols="30" rows="0" placeholder="Опис бренду..." [(ngModel)]="text" name="text"></textarea>
        <div class="form-group">
            <input type="hidden" name="logoUrl" [(ngModel)]="logoUrl">
        </div>

        <!-- upload image -->
        <div class="form-group row uploadBrendLogo">
            <div class="card-body">
                <h5 class="card-title">Виберіть логотип бренду:</h5>
                <input type="file" (change)="uploadLogoBrend.upload($event)" accept=".png,.jpg" value="Виберіть файл" />
                <br><br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                        [style.width]="(uploadLogoBrend.uploadProgress | async) + '%'"
                        [attr.aria-valuenow]="(uploadLogoBrend.uploadProgress | async)" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <br>
                <div *ngIf="uploadLogoBrend.downloadURL | async; let downloadSrc;" class="alert alert-info"
                    role="alert">
                    File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
                </div>
                <br>
            </div>
        </div>
        <!-- ------- -->
        <button type="submit" class="btn btn-outline-dark" (click)='addBrend()'>Додати</button>
    </form>




    
    <div class="brends" *ngFor="let brend of uploadLogoBrend.brends">
        <div class="logo">
            <a href="https://{{brend.link}}" target="_blank"><img src="{{brend.logoUrl}}" alt=""></a>
        </div>
        <div class="brandInfo">
            <!-- <h4>{{brend.id}}</h4> -->
            <h4>{{brend.title}}</h4>
            <p>{{brend.text}}</p>
        </div>
        <div class="editBrends">
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger" (click)="uploadLogoBrend.onDelete(brend.id)">Delete</button>
        </div>
    </div>
</div>