.refContainer{
    text-align: center;
    height: 450px;
}
.modal-body{
    height: 800px !important;
}
.refContainer button{
    padding: 25px 25px ;
    margin: 50px;
    font-size: 25px;
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: #253982;
    color: white;
}
.refContainer button:hover{
    padding: 35px 35px ;
    font-size: 30px;
    transition: 0.5s;
}
.modal-title{
    font-size: 25px;
    text-align: center;
}