<div class="containerMain">
    <div class="category">
        <a routerLink="/hotPumps">
            <div class="catProd">
                <img src="assets/images/gazKotelCat.png" alt="">
                Теплові насоси
            </div>
        </a>
        <a routerLink="/cotels">
            <div class="catProd">
                <img src="assets/images/TverdPalCotel.png" alt="">
                Системи опалення
            </div>
        </a>
        <a routerLink="/ventilation">
            <div class="catProd">
                <img src="assets/images/ventMain.png" alt="">
                Вентиляційне обладнання
            </div>
        </a>
        <a routerLink="/frozen">
            <div class="catProd">
                <img src="assets/images/frozenMain.png" alt="">
                Холодильне обладнання
            </div>
        </a>
    </div>

    <div class="subscribe">
        <span>Для отримання повідомлень про новинки чи акції: </span>
        <input type="email" placeholder="Вкажіть ваш Email...">
        <button type="button" class="btn btn-outline-dark">Підписатися</button>

    </div>
    <div class="popularProducts">
        <h2>популярні продукти</h2>
        <ul>
            <li>популярний продукт</li>
            <li>популярний продукт</li>
            <li>популярний продукт</li>
            <li>популярний продукт</li>
        </ul>
    </div>
</div>