<div class="containerMain">
    <div class="category">
        <div class="catProd">
            <!-- <label for=""> -->
                <img src="assets/images/gazKotelCat.png" alt="">
                Газові котли
            <!-- </label> -->
        </div>
        <div class="catProd">
            <img src="assets/images/TverdPalCotel.png" alt="">
            Твердопаливні котли
        </div>
        <div class="catProd">
            <img src="assets/images/ventMain.png" alt="">
            Вентиляційне обладнання
        </div>
        <div class="catProd">
            <img src="assets/images/frozenMain.png" alt="">
            Холодильне обладнання
        </div>
    </div>

    <div class="subscribe">
        <span>Для отримання повідомлень про новинки чи акції: </span>
        <input type="email" placeholder="Вкажіть ваш Email...">
        <button type="button" class="btn btn-outline-dark">Підписатися</button>

    </div>
    <div class="popularProducts">
            <h2>популярні продукти</h2>
        <ul>
            <li>популярний продукт</li>
            <li>популярний продукт</li>
            <li>популярний продукт</li>
            <li>популярний продукт</li>
        </ul>
    </div>
</div>