<div class="pumpsContainer">
    <div class="leftSideBar">
        <h4>Фільтр</h4>
        <!-- <div class="priceFilter">
            <p>Діапазон цін: </p>
            <div>
                <p>від:</p>
                <input type="text" placeholder="грн">

                <p>до:</p>
                <input type="text" placeholder="грн">
            </div>
        </div> -->

        <div class="typeFilter">
            <p>Вид: </p>
            <input type="checkbox"><span>Побутові</span><br>
            <input type="checkbox"><span>Промислові</span><br>
        </div>

        <div class="brendsFilter">
            <p>Бренди: </p>
            <input type="checkbox"><span>BeGreen ( Україна )  </span><br>
        </div>

        <div class="powerFilter">
                <p>Потужність: </p>
                <input type="checkbox"><span>10-20 Kwatt</span><br>
                <input type="checkbox"><span>20-50 Kwatt</span><br>
                <input type="checkbox"><span>50-100 Kwatt </span>
            </div>
    </div>
    <div class="products">
        <div class="product" *ngFor="let product of prodService.arrProduct | hotpumps">
            <table>
                <tr>{{product.title}}</tr>
                <!-- <tr>{{product.subscribe}}</tr> -->
                <!-- <tr>{{product.category}}</tr> -->
                <!-- <tr style="background-image: url({{product.imgUrl}});"></tr> -->
                <tr><img src="{{product.imgUrl}}" alt=""></tr>
                <tr><button type="button" class="btn btn-success">Детальніше</button></tr>
            </table>
            
        </div>
    </div>


</div>