<div class="pumpsContainer">
  <div class="leftSideBar">
    <h4>Фільтр</h4>
    <!-- <div class="typeFilter">
      <p>Вид: </p>
      <input type="checkbox"><span>Побутові</span><br>
      <input type="checkbox"><span>Промислові</span><br>
    </div> -->

    <div class="brendsFilter">
      <p>Бренди: </p>
      <input type="checkbox"><span>BeGreen ( Україна ) </span><br>
    </div>
    <div class="typeFilter">
      <p>Тип: </p>
      <input type="checkbox" [(ngModel)]="isChecked3" (click)="filterService.filterType(isChecked3 ? '': 'Грунт/вода')"  ><span>грунт/вода</span><br>
      <input type="checkbox" [(ngModel)]="isChecked4" (click)="filterService.filterType(isChecked4 ? '': 'Воздух/вода')"><span>воздух/вода</span><br>
      <input type="checkbox" [(ngModel)]="isChecked5" (click)="filterService.filterType(isChecked5 ? '': 'Розсіл/вода')"><span>розсіл/вода</span><br>

    </div>
    <div class="powerFilter">
      <p>Потужність: </p>
      <input type="checkbox" [(ngModel)]="isChecked" (click)="filterService.filterPower( isChecked ? '' : '8-22 кВт' )"><span>8-22 кВт</span><br>
      <input type="checkbox" [(ngModel)]="isChecked1" (click)="filterService.filterPower( isChecked1 ? '' : '40-105 кВт' )"><span>40-105 кВт</span><br>
      <input type="checkbox" [(ngModel)]="isChecked2" (click)="filterService.filterPower( isChecked2 ? '' : '218-362 кВт' )"><span>218-362 кВт </span>
    </div>
  </div>
  <div class="products">
    <div class="product" *ngFor="let product of filterService.arrProduct | hotpumps | power:filterService.powerVal | type:filterService.typeVal ">
      <table>
        <tr>{{product.title}}</tr>
        <tr><img src="{{product.imgUrl}}" alt=""></tr>
        <tr><button (click)="productDetails.showProdDetails(product.id)" type="button" class="btn btn-success"
            data-toggle="modal" data-target="#prodDetails">Детальніше</button></tr>
      </table>

    </div>
  </div>


</div>


<!------------------ Modal ---------------->
<div class="modal fade" id="prodDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modalTitle" id="exampleModalLabel">{{productDetails.modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modalImg"><img src="{{productDetails.modalImg}}" alt=""></div>
        <div class="modalFilter"><span>Бренд:</span>{{productDetails.modalBrandName}}</div>
        <div class="modalSubskribe"><p>Опис: </p>{{productDetails.modalSubscribe}}</div>
        <div class="modalFilter"><span>Тип:</span>{{productDetails.modalType}}</div>
        <div class="modalFilter"><span>Потужність:</span>{{productDetails.modalPower}}</div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- ----------------------------------- -->