.containerContacts{
    width: 1300px;
    margin: 30px auto;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: space-between;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}
.ContactInfo{
    width: 40%;
    /* border: 1px solid black; */
}
p{
    /* line-height: 0.5; */
    font-size: 20px;
    margin-left: 15px;
    padding-top: 15px;
}
.address, .phone, .email{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding-left: 10px;
}
.infoBlaBla{
    width: 40%;
    border: 1px solid lightgray;
    /* border: 1px solid black; */
}
.map{
    width: 70%;
    height: 500px;
    /* border: 1px solid black; */
}
.callBackForm{
    width: 29%;
    /* border: 1px solid black; */
}
.callBackForm form{
    width: 80%;
    margin: 0px auto;
}
.callBackBtn{
    background-color: #253982;
    margin: 20px auto;
    width: 70%;
}

@media screen and (max-width: 1366px) and (min-width: 961px) {
    .containerContacts {
        width: 100%;
    }
}

@media screen and (max-width: 960px) and (min-width: 768px) {
    .containerContacts {
        width: 100%;
        flex-wrap: wrap;
    }
    .infoBlaBla{
        display: none;
    }
    .ContactInfo{
        width: 100%;
    }
    .map{
        width: 100%;
    }
    .callBackForm{
        width: 60%;
    }
}

@media screen and (max-width: 768px) and (min-width: 486px){
    .containerContacts {
        width: 100%;
        flex-wrap: wrap;
    }
    .infoBlaBla{
        display: none;
    }
    .ContactInfo{
        width: 100%;
        font-size: 20px;
    }
    .map{
        width: 100%;
    }
    .callBackForm{
        width: 100%;
    }
}
@media screen and (max-width: 485px){
    .containerContacts {
        width: 100%;
        flex-wrap: wrap;
    }
    .infoBlaBla{
        display: none;
    }
    .ContactInfo{
        width: 90%;
        font-size: 20px;
    }
    .map{
        width: 100%;
    }
    .callBackForm{
        width: 100%;
    }
}

