<div class="cotelsContainer">
  <div class="leftSideBar">
    <h4>Фільтр</h4>

    <div class="typeFilter">
      <p>Вид: </p>
      <input type="checkbox"><span>Побутова</span><br>
      <input type="checkbox"><span>Промислова</span><br>
    </div>

    <div class="brendsFilter">
      <p>Бренди: </p>
      <input type="checkbox"><span>Klimor ( Польща ) </span><br>
      <input type="checkbox"><span>AL-KO ( Німеччина ) </span><br>
      <input type="checkbox"><span>Schako ( Німеччина ) </span>
      <input type="checkbox"><span>Getair ( Німеччина ) </span>
      <input type="checkbox"><span>Jeven ( Німеччина ) </span>
    </div>

    <div class="powerFilter">
      <p>Потужність: </p>
      <input type="checkbox"><span>10-20 Kwatt</span><br>
      <input type="checkbox"><span>20-50 Kwatt</span><br>
      <input type="checkbox"><span>50-100 Kwatt </span>
    </div>
  </div>
  <div class="products">
    <div class="product" *ngFor="let product of arrProduct | air">
      <table>
        <tr>{{product.title}}</tr>
        <tr><img src="{{product.imgUrl}}" alt=""></tr>
        <tr><button (click)="showProdDetails(product.id)" type="button" class="btn btn-success"
            data-toggle="modal" data-target="#prodDetails">Детальніше</button></tr>
      </table>

    </div>
  </div>

</div>

<!------------------ Modal ---------------->
<div class="modal fade" id="prodDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modalTitle" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modalImg"><img src="{{modalImg}}" alt=""></div>
        <div class="modalFilter"><span>Бренд:</span>{{modalBrandName}}</div>
        <div class="modalSubskribe"><p>Опис: </p>{{modalSubscribe}}</div>
        <div class="modalFilter"><span>Тип:</span>{{modalType}}</div>
        <div class="modalFilter"><span>Потужність:</span>{{modalPower}}</div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#prodOrder" (click)="order(modalTitle)" >Замовити</button>
      </div>
    </div>
  </div>
</div>
<!-- ----------------------------------- -->

<!------------------ Modal ---------------->
<div class="modal fade" id="prodOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modalTitle" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="callBackForm">
                    <form #form='ngForm' autocomplete="off" >
                        <input type="hidden" name="date" [(ngModel)]="date">
                        <input type="hidden" name="checkStatus" [(ngModel)]="checkStatus">
                        <div class="input-group mb-3">
                            <input type="text" required class="form-control" placeholder="Ім'я..." aria-label="Username"
                                aria-describedby="basic-addon1" [(ngModel)]="came" name="name">
                        </div>
                        <div class="input-group mb-3">
                            <input type="email" required class="form-control" placeholder="e-mail..." aria-label="Username"
                                aria-describedby="basic-addon1" [(ngModel)]="cmail" name="email">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" required class="form-control" placeholder="Номер телефону у форматі 097*******"
                                aria-label="Username" aria-describedby="basic-addon1"
                                [(ngModel)]="chone" name="phone">
                        </div>
                        <div class="input-group">
                            <textarea class="form-control" aria-label="With textarea" [(ngModel)]="text"
                                name="text"></textarea>
                        </div>
                        <button type="button" (click)="onSubmit(form)" class="btn btn-primary callBackBtn">Відправити запит</button> <p class="warningCallback">{{sendBTN}}</p>

                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>
<!-- ----------------------------------- -->