<div class="cotelsContainer">
        <div class="leftSideBar">
            <h4>Фільтр</h4>
            <!-- <div class="priceFilter">
                <p>Діапазон цін: </p>
                <div>
                    <p>від:</p>
                    <input type="text" placeholder="грн">
    
                    <p>до:</p>
                    <input type="text" placeholder="грн">
                </div>
            </div> -->
    
            <div class="typeFilter">
                <p>Вид: </p>
                <input type="checkbox"><span>Побутове</span><br>
                <input type="checkbox"><span>Промислове</span><br>
            </div>
    
            <div class="brendsFilter">
                <p>Бренди: </p>
                <input type="checkbox"><span>Chiller Frigorigeri ( Італія )  </span><br>
            </div>
    
            <div class="powerFilter">
                    <p>Бренди: </p>
                    <input type="checkbox"><span>10-20 Kwatt</span><br>
                    <input type="checkbox"><span>20-50 Kwatt</span><br>
                    <input type="checkbox"><span>50-100 Kwatt </span>
                </div>
        </div>
        <div class="products">
            <div class="product"></div>
            <div class="product"></div>
            <div class="product"></div>
        </div>
    
    </div>