<div class="dataPlace">
    <form action="" #form='ngForm' autocomplete="off" (submit)="prodService.onSubmit(form)">
        <select class="custom-select" id="selectCategory" [(ngModel)]="prodService.category" name="category">
            <option disabled selected>Виберіть категорію товару...</option>
            <option value="opalenya">Системи опалення</option>
            <option value="hotpumps">Теплові насоси</option>
            <option value="airsystems">Вентиляційні системи</option>
            <option value="frozensystems">Холодильне обладнання</option>
        </select>
        <input type="text" placeholder="Введіть назву товару..." [(ngModel)]="prodService.title" name="title">
        <select class="custom-select" id="selectBrandName" [(ngModel)]="prodService.brandName" name="brandName">
            <option disabled selected>Виберіть назву бренду</option>
            <option *ngFor="let brend of brendsService.brends"  value="">{{brend.brend}}</option>
        </select>
        <textarea name="" id="" cols="30" rows="0" placeholder="Введіть опис товару..."
            [(ngModel)]="prodService.subscribe" name="subscribe"></textarea>
            <select class="custom-select" id="selectPower" [(ngModel)]="prodService.power" name="power">
                <option disabled>Виберіть потужність приладу...</option>
                <option value="8-22 кВт">8-22 кВт</option>
                <option value="40-105 кВт">40-105 кВт</option>
                <option value="218-362 кВт">218-362 кВт</option>
            </select>
            <select class="custom-select" id="selectType" [(ngModel)]="prodService.type" name="type">
                <option disabled selected>Виберіть тип приладу...</option>
                <option value="Грунт/вода">грунт/вода</option>
                <option value="Воздух/вода">воздух/вода</option>
            </select>
        <div class="form-group">
            <input type="hidden" name="imgUrl" [(ngModel)]="prodService.imgUrl">
        </div>

        <!-- upload image -->
        <div class="form-group row uploadBrendLogo">
            <div class="card-body">
                <h5 class="card-title">Виберіть логотип бренду:</h5>
                <input type="file" (change)="prodService.upload($event)" accept=".png,.jpg" value="Виберіть файл" />
                <br><br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                        [style.width]="(prodService.uploadProgress | async) + '%'"
                        [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <div *ngIf="prodService.downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
                    File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
                </div>
                <br>
            </div>
        </div>
        <!-- ------- -->
        <button type="submit" class="btn btn-outline-dark" (click)='prodService.addProduct()'>Додати</button>
    </form>





    <table class="table tableProdAdmin">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Назва</th>
                <th scope="col">Опис</th>
                <th scope="col">Категорія</th>
                <th scope="col">фото</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of prodService.arrProduct; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{product.title}}</td>
                <td>{{product.subscribe}}</td>
                <td>{{product.category}}</td>
                <td><img src="{{product.imgUrl}}" alt=""></td>
                <td>
                    <button type="button" class="btn btn-warning" (click)="prodService.editeProd(product.id)"
                        data-toggle="modal" data-target="#prodEdit">Edit</button>
                </td>
                <td><button type="button" class="btn btn-danger"
                        (click)="prodService.onDelete(product.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>

</div>


<!------------------ Modal ---------------->

<div class="modal fade modalProdEdit" id="prodEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Редагування товару</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" #form2='ngForm' autocomplete="off" (submit)="prodService.saveEditeProduct(form2)">
                    <input type="text" name="title" [(ngModel)]="prodService.titleEdit">
                    <textarea class="subscribe" id="" cols="30" rows="10" name="subscribe"
                        [(ngModel)]="prodService.subscribeEdit"></textarea>
                    <div class="imageEdite"><img src="{{prodService.urlImgEdite}}" alt=""></div>
                    <input type="hidden" name="imgUrl" [(ngModel)]="prodService.urlImgEdite">

                    <!-- upload image -->
                    <div class="form-group row uploadImmageEdit">
                        <div class="card-body">
                            <h5 class="card-title">Виберіть картинку як що потрібно замінити:</h5>
                            <input type="file" (change)="prodService.upload($event)" accept=".png,.jpg"
                                value="Виберіть файл" />
                            <br><br>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                    [style.width]="(prodService.uploadProgress | async) + '%'"
                                    [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0"
                                    aria-valuemax="100">
                                </div>
                            </div>
                            <br>
                            <div *ngIf="prodService.downloadURL | async; let downloadSrc" class="alert alert-info"
                                role="alert">
                                File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <!-- ------- -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                        <button type="submit" class="btn btn-primary">Зберегти</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- ----------------------------------- -->