.dataPlace{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* padding-left: 15px; */
}


input[type=text], textarea, select {
    width: 95%;
    min-width: 200px;
    /* height: 150px; */
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 15px;
    margin: 15px;
    height: 50px;
    font-size: 25px;
}
textarea{
    height: 150px;
}
.uploadBrendLogo{
    width: 50%;
}
.tableProdAdmin{
    width: 100%;
    margin-top: 25px;
}
img{
    width: 150px;
    height: auto;
}
td, th{
 vertical-align: middle;
}
button[type=submit]{
    width: 150px;
    margin-left: 40%;
}
form{
    width: 100%;
    /* border: 1px solid black; */
}
.card-body{
    padding: 0;
}
.row{
    width: 100%;padding-left: 15px;
}