<div class="dataPlace">
    <form action="" #form='ngForm' autocomplete="off" (submit)="prodService.onSubmit(form)">
        <select class="custom-select" id="selectCategory" [(ngModel)]="prodService.category" name="category">
            <option selected>Виберіть категорію товару...</option>
            <option value="opalenya">Системи опалення</option>
            <option value="hotpumps">Теплові насоси</option>
            <option value="airsystems">Вентиляційні системи</option>
            <option value="frozensystems">Холодильне обладнання</option>
        </select>
        <input type="text" placeholder="Введіть назву товару..." [(ngModel)]="prodService.title" name="title">
        <textarea name="" id="" cols="30" rows="0" placeholder="Введіть опис товару..."
            [(ngModel)]="prodService.subscribe" name="subscribe"></textarea>
        <div class="form-group">
            <input type="hidden" name="imgUrl" [(ngModel)]="prodService.imgUrl">
        </div>

        <!-- upload image -->
        <div class="form-group row uploadBrendLogo">
            <div class="card-body">
                <h5 class="card-title">Виберіть логотип бренду:</h5>
                <input type="file" (change)="prodService.upload($event)" accept=".png,.jpg" value="Виберіть файл" />
                <br><br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                        [style.width]="(prodService.uploadProgress | async) + '%'"
                        [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <div *ngIf="prodService.downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
                    File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
                </div>
                <br>
            </div>
        </div>
        <!-- ------- -->
        <button type="submit" class="btn btn-outline-dark" (click)='prodService.addProduct()'>Додати</button>
    </form>





    <table class="table tableProdAdmin">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Назва</th>
                <th scope="col">Опис</th>
                <th scope="col">Категорія</th>
                <th scope="col">фото</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of prodService.arrProduct; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{product.title}}</td>
                <td>{{product.subscribe}}</td>
                <td>{{product.category}}</td>
                <td><img src="{{product.imgUrl}}" alt=""></td>
                <td>
                    <button type="button" class="btn btn-warning">Edit</button>
                </td>
                <td><button type="button" class="btn btn-danger"
                        (click)="uploadLogoBrend.onDelete(brend.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>

</div>