.adminContainer{
    text-align: center;
    padding: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* z-index: 999; */
    background-color: white;
}
p{
    text-decoration: line-through;
}
.img{
    width: 400px;
    height: 250px;
    background-image: url(src/assets/images/adminImg.svg);
    background-size: contain;
    margin: 10px auto;
}