<div *ngIf="adminService.adminActivate" class="adminContainer">

  <h3>Адмінка</h3>


    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a routerLink="admin-brends" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" role="tab"
        aria-controls="nav-home" aria-selected="true">Бренди</a>
      <a routerLink="admin-characteristics" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab"
        aria-controls="nav-contact" aria-selected="false">Характеристики товарів</a>
      <a routerLink="admin-products" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab"
        aria-controls="nav-contact" aria-selected="false">Товар</a>
      <a routerLink="admin-callback" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab"
        aria-controls="nav-contact" aria-selected="false">Хто замовив дзвінок</a>
      <button type="button" routerLink="/main" class="btn btn-outline-dark" (click)="exitAdmin()" >Вихід</button>
    </div>

  <div class="tab-content adminRoute" id="nav-tabContent">
      <router-outlet> </router-outlet>
  </div>
  <div class="img"></div>
</div>
