.adminContainer {
    /* text-align: center; */
    padding: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 10; */
    background-color: white;
    min-height: 100%;
    height: fit-content;
}

p {
    text-decoration: line-through;
}

h3 {
    width: 100%;
    height: 30px;
    text-align: center;
}

.img {
    width: 100%;
    height: 250px;
    background-image: url(src/assets/images/adminImg.svg);
    background-size: contain;
    margin: 10px auto;
    /* position: absolute;
    bottom: 10px; */
    left: 200px;
    float: right;
    background-repeat: no-repeat;
}

.adminRoute {
    width: 100%;
    float: left;
}