<div class="cotelsContainer">
    <div class="leftSideBar">
        <h4>Фільтр</h4>
        <!-- <div class="priceFilter">
            <p>Діапазон цін: </p>
            <div>
                <p>від:</p>
                <input type="text" placeholder="грн">

                <p>до:</p>
                <input type="text" placeholder="грн">
            </div>
        </div> -->

        <div class="typeFilter" >
            <p>Вид: </p>
            <input type="checkbox"><span>Твердопаливні котли</span><br>
            <input type="checkbox"><span>Газові котли</span><br>
            <input type="checkbox"><span>Теплові насоси</span>
        </div>

        <div class="brendsFilter">
            <p>Бренди: </p>
            <input type="checkbox"><span>ACV (Бельгія)</span><br>
            <input type="checkbox"><span>Термосталь ( Греція )</span><br>
            <input type="checkbox"><span>BeGreen ( Україна ) </span>
        </div>

        <div class="powerFilter">
                <p>Бренди: </p>
                <input type="checkbox"><span>10-20 Kwatt</span><br>
                <input type="checkbox"><span>20-50 Kwatt</span><br>
                <input type="checkbox"><span>50-100 Kwatt </span>
            </div>
    </div>
    <div class="products">
        <div class="product" *ngFor="let product of prodService.arrProduct;">
            <table>
                <tr>{{product.title}}</tr>
                <!-- <tr>{{product.subscribe}}</tr> -->
                <tr>{{product.category}}</tr>
                <tr><img src="{{product.imgUrl}}" alt=""></tr>
                <tr><button type="button" class="btn btn-success">Детальніше</button></tr>
            </table>
            
        </div>
    </div>

</div>