/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-image: url(src/assets/images/bg-site.jpg);
    background-attachment: fixed;
    font-family: 'Roboto Condensed', sans-serif;
}

.brendsFilter, .typeFilter, .powerFilter {
    width: 100%;
    padding-left: 7px;
    padding-top: 15px;
    border-bottom: 1px solid lightgray;
    font-size: 25px;
    line-height: 1.5;
}
.brendsFilter p, .typeFilter p, .powerFilter p{
    font-weight: bold;
    font-size: 25px;
}
.modalImg{
    width: 100%;
    text-align: center;
}
.modalImg img{
    width: 50%;
}
.modalSubskribe{
    width: 90%;
    font-size: 22px;
    margin-top: 15px;
    line-height: 1.3;
}
.modalSubskribe p{
    font-weight: bold;
}
.modalFilter{
    margin-top: 15px;
    
    font-size: 25px;
}
.modalFilter span{
    font-weight: bold;
    margin-right: 25px;
}
.modalTitle{
    width: 100% !important;
    font-size: 25px !important;
    text-align: center !important;
    font-weight: bold !important;
}

.ng-valid[required], .ng-valid[required]{
    border: 2px solid green;
    background-image: url(assets/images/valid.png);
    background-repeat: no-repeat;
    /* background-position: right; */
    background-size: 25px 25px;
    background-position-x: 95%;
    background-position-y: 5px;
}
.ng-invalid:not(form){
    border: 2px solid red;
}

.warningCallback{
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-top: 15px;
}

