<div class="containerBrands">
    <div class="brends">
        <div class="logo">
            <a href="https://www.acv.com/belgie/customer"><img src="assets/images/acvLogo.png" alt=""></a>
        </div>
        <div class="brandInfo">
            <p>Газові котли АСВ ( Бельгія ) </p>
        </div>
    </div>

    <div class="brends">
        <div class="logo">
            <a href="http://www.thermostahlsolar.com/"><img src="assets/images/TermoSolarLogo.png" alt=""></a>
        </div>
        <div class="brandInfo">
            <p>Твердопаливні котли  Термосталь  ( Греція ) </p>
        </div>
    </div>

    <div class="brends">
        <div class="logo">
            <a href="https://www.klimor.pl/"><img src="assets/images/klimorLogo.png" alt=""></a>
        </div>
        <div class="brandInfo">
            <p>Вентиляційне обладнання   Klimor  ( Польща ) </p>
        </div>
    </div>

    <div class="brends">
        <div class="logo">
            <a href="https://www.al-ko.com/ru/sistemy-sentiljacii"><img src="assets/images/TermoSolarLogo.png" alt=""></a>
        </div>
        <div class="brandInfo">
            <p>Вентиляційне обладнання AL-KO ( Німеччина ) </p>
        </div>
    </div>

    <div class="brends">
        <div class="logo">
            <a href="http://www.chiller-frigoriferi.it/2/"><img src="assets/images/TermoSolarLogo.png" alt=""></a>
        </div>
        <div class="brandInfo">
            <p>Холодильне обладнання -  Chiller Frigorigeri ( Італія ) </p>
        </div>
    </div>
    <div class="brends">
        <div class="logo">
            <a href="https://schako.com/en/products/"><img src="assets/images/TermoSolarLogo.png" alt=""></a>
        </div>
        <div class="brandInfo">
            <p>Повітророзподільчі пристрої  Schako ( Німеччина ) </p>
        </div>
    </div>

    <div class="brends">
        <div class="logo">
            <a href="http://begreen.kiev.ua/"><img src="assets/images/TermoSolarLogo.png" alt=""></a>
        </div>
        <div class="brandInfo">
            <p>Теплові насоси BeGreen ( Україна )  </p>
        </div>
    </div>

    <div class="brends">
        <div class="logo">
            <a href="https://www.getair.eu/en"><img src="assets/images/TermoSolarLogo.png" alt=""></a>
        </div>
        <div class="brandInfo">
            <p>Побутова вентиляція Getair ( Німеччина ) </p>
        </div>
    </div>

    <div class="brends">
        <div class="logo">
            <a href="https://jeven.fi/en/"><img src="assets/images/TermoSolarLogo.png" alt=""></a>
        </div>
        <div class="brandInfo">
            <p>Рекуперація  повітря  в гарячих цехах   закладів   громадського харчування</p>
        </div>
    </div>
</div>
